name: Release

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

env:
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  CLICOLOR: 1

jobs:
  Test:
    name: Test
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest"]
        rust: ["stable", "beta"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: ${{ matrix.rust }}
      - name: Print Cargo Version
        run: cargo -V
      - name: Default features
        run: cargo test --workspace
      - name: No-default features
        run: cargo test --workspace --no-default-features

  Lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Print Cargo Version
        run: cargo -V
      - name: clippy
        run: cargo clippy --verbose -- -D warnings
      - name: Install cargo-audit
        run: cargo install cargo-audit
      - name: audit
        run: cargo audit

  Create-Release:
    name: Create-Release
    runs-on: ubuntu-latest
    needs: ['Test']
    steps:
      - uses: actions/checkout@v6
      - name: Get the tag name
        if: env.VERSION == ''
        run: echo "VERSION=${{ github.ref_name }}" >> $GITHUB_ENV
      - name: Print Version
        run: echo "$VERSION"
      - name: Print Cargo Version
        run: cargo -V
      - name: Package Version
        run: echo "PKG_VERSION=$(cargo metadata --no-deps --format-version 1 | jq -r '.packages[0].version' | head -n 1)" >> $GITHUB_ENV
      - name: Print Package Version
        run: echo "$PKG_VERSION"
      - name: Check Version
        run: |
          if ! [ "$PKG_VERSION" == "${VERSION#v}" ]; then
            echo "Cargo package version does not match tag"
            # exit 1
          fi
      - name: Create Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh release create $VERSION --draft --verify-tag --title $VERSION --generate-notes
    outputs:
      version: ${{ env.VERSION }}
      pkg_version: ${{ env.PKG_VERSION }}

  Build:
    name: Build-Linux
    needs: ['Create-Release']
    runs-on: ubuntu-latest
    env:
      VERSION: ${{needs.Create-Release.outputs.version}}
      PKG_VERSION: ${{needs.Create-Release.outputs.pkg_version}}
    steps:
      - uses: actions/checkout@v6
      - name: Install cargo-deb
        run: cargo install cargo-deb

      - name: Build Binary
        run: cargo build --release

      - name: Build Deb Package
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cargo deb
          gh release upload "$VERSION" ./target/debian/open-stt-server_${{ env.PKG_VERSION }}-1_amd64.deb

  Build_MacOS:
    name: Build_MacOS
    needs: ['Create-Release']
    runs-on: macos-latest
    env:
      VERSION: ${{needs.Create-Release.outputs.version}}
      PKG_VERSION: ${{needs.Create-Release.outputs.pkg_version}}
    steps:
      - uses: actions/checkout@v6
      - name: Build MacOS Apple Silicon
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cargo build --release --target aarch64-apple-darwin
          mv ./target/aarch64-apple-darwin/release/open-stt-server ./target/aarch64-apple-darwin/release/open-stt-server_${{ env.PKG_VERSION }}_macosarm
          gh release upload "$VERSION" ./target/aarch64-apple-darwin/release/open-stt-server_${{ env.PKG_VERSION }}_macosarm
      - name: Install MacOS x86 toolchain
        run: rustup target add x86_64-apple-darwin
      - name: Build MacOS x86
        shell: bash
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cargo build --release --target x86_64-apple-darwin
          mv ./target/x86_64-apple-darwin/release/open-stt-server ./target/x86_64-apple-darwin/release/open-stt-server_${{ env.PKG_VERSION }}_macosx86
          gh release upload "$VERSION" ./target/x86_64-apple-darwin/release/open-stt-server_${{ env.PKG_VERSION }}_macosx86
